<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Django</title>
</head>
<body>
    <header id="navbar">
        <h2>Vlog Page</h2>
        <nav>
            <ul id="navlinks">
                <li><a id="link" href="#">Home</a></li>
                <li><a id="link" href="#">about</a></li>
                <li><a id="link" href="#">Contact</a></li>
                <li><a id="link" href="#">Help</a></li>
            </ul>
        </nav>
    </header> 
    <section id="main-section">
        <h3>Explore Nature</h3>
        <br>
        <h1><u>BE ONE WITH IT</u></h1>
        <br>
        <br>
        <a id="link" href="#">Learn More</a>
    </section>
    <section id="video-section">
        <div>
            <h1>Videos</h1>
        </div>
        <br>
        <br>
        <div id="videos">
            <div>
                <iframe id="video-1" src="/static/vecteezy_slowmotion-nature-background-sparkling-water-in-the_11852479.mp4" frameborder="0"></iframe>
            </div>
                <iframe id="video-2" src="/static/vecteezy_natural-scenery-of-beautiful-erawan-waterfalls-in-a-tropical_11731184.mp4" frameborder="0"></iframe>
            <div>
            <div>
        </div>
    </section>
    <footer id="footer-section">
        <div>
            <h2>My Socials</h2>
        </div>
        <ul id="socials">
            <li><a href="https://www.facebook.com"><img width="30" height="30" src="https://img.icons8.com/ios-filled/50/facebook-new.png" alt="facebook-new"/></a></li>
            <li><a href="https://www.instagram.com"><img width="30" height="30" src="https://img.icons8.com/material-outlined/24/instagram-new--v1.png" alt="instagram-new--v1"/></a></li>
            <li><a href="https://www.youtube.com"><img width="30" height="30" src="https://img.icons8.com/material-rounded/24/youtube-play.png" alt="youtube-play"/></a></li>
        </ul> 
    </footer>
</body>
</html>